*{
  box-sizing: border-box;
}
nav{
  width: 960px;
  margin: 35px auto;
  /* border-bottom: 10px solid gray; */
}
nav > img{
  float: left;
}

nav > h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 38px;
}
nav > p {
  font-size: 14px;
}
nav ul{
  margin: 0 0 0 655px;
}
nav ul li {
  display: inline;
  
}
.border {
  height: 15px;
  width: 960px;
  margin: auto;
  background-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 20px,
      black 10px,
      black 10px);
  /* with multiple color stop lengths */
  background-image: repeating-linear-gradient(45deg, 
      transparent 0 30px, 
      black 30px 40px);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.itemContent {
  width: 960px;
  margin: auto;
}
div > h1 {
  margin-top: 60px;
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
}
#hero {
  margin: auto;
}
.itemContent .notepad {
  position: relative;
  height: 305px;
  margin: 20px auto;
}
.notepad img {
  position: absolute;
  z-index: 1;
}
.notepad ul {
  position: absolute;
  z-index: 100;
}
.notepad .column-1 {
  top: 12%;
  left: 10%;
}
.notepad .column-2 {
  top: 12%;
  left: 50%;
}
.notepad li:before {
  content:"\2713\0020";
}
.notepad li {
  padding: 8px;
}
.profileContent {
  height: 150px;
}
.profileContent img {
  float: left;
  position: relative;
}
.profileContent button {
  position: absolute;
  top: 50%;
}
